<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gyr.classroom_web.mapper.AddLogMapper">
    <select id="getAll" resultType="addLog">
        SELECT *
        FROM add_log
    </select>

    <insert id="insert" parameterType="addLog">
        INSERT INTO add_log
        VALUES (#{date}, #{ip}, #{classroomId})
    </insert>
</mapper>